<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <%= render 'menu' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2 content">
    <%= @page.content.html_safe %>
  </div>
</div>